$usr_color: red;
#title_first{
    color: red;
}
.mainPage{
    width: 100%;
    height:80%;
    text-align: center;
}
.ul_style{
    padding-left: 40%;
}
#p_first{
    padding-left: 42%;

}

@media screen and (max-width: 1000px){
    #title_first{
        color: black;
    }
}


